
/*general css*/
p{
    font-family: roboto;
    margin-top: 0;
    margin-bottom: 0;
}
body{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

/*youtube css*/
.thumb{
    width: 100%;
    display: block;
  }
.t1{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.tt1{
    font-size: 12px;
    color: rgb(96,96,96);
    margin-bottom: 5px;
}
.ttt1{
    font-size: 12px;
    color: rgb(96,96,96);
}


.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-pic{
    display: inline-block;
    width: 50px;
    vertical-align: top;   
}
.text{
    
    display: inline-block;
    width: 245px;   
}  
.profile{
    width: 40px;
    border-radius: 50px;
} 
.thumbnail{
    margin-bottom: 12px;
    
    
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

/*header css */
.header{
    height: 60px;

    display: flex;
    flex-direction: row;
    
}
.left{
    background-color: lightblue;
}
.middle{
    background-color: aquamarine;
}
.right{
    background-color: lightcoral;
}


